
<% include ../partials/header %>


<div class="container">
	<h1 align="center">Add New Comment to <%= campground.name %></h1>


	<div style="width: 40%; margin: 0 auto">
		<form action="/campgrounds/<%= campground._id %>/comments" method = "POST">
		  <div class="form-row">
			<div class="form-group col-md-6">
			  <label for="inputName">Comment</label>
			  <input type="text" class="form-control" id="inputText" placeholder="Text" name="comment[text]">
			</div>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
	
</div>
<% include ../partials/footer %>